@model IEnumerable<StudentDashboard.Models.Course>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Courses</h2>
@Html.ActionLink("Add Course", "New", "Courses", new {@class = "btn btn-primary"})
<br/><br/>

@if (!Model.Any())
{
    <p>No courses have been added yet.</p>
}
else
{
    <table>
        <thead>
        <tr>
            <th>Courses</th>
        </tr>
        </thead>
        @foreach (var course in Model)
        {
            <tr>
                <td>@course.CourseName</td>
                <td>@Html.ActionLink("Edit", "Edit", "Courses", new {id = course.Id}, new {@class="btn btn-primary"})</td>
                <td>@Html.ActionLink("Delete", "Delete", "Courses", new {id = course.Id}, new {@class="btn btn-primary"})</td>
            </tr>
            
        }
    </table>
}