@model IEnumerable<StudentDashboard.Models.Student>
@{
    ViewBag.Title = "Students";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Students</h2>
@Html.ActionLink("Add Student", "New", "Students", new { @class = "btn btn-primary" })
<br />
<br />

@if (!Model.Any())
{
    <p>No students have been added yet.</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Students</th>
            </tr>
        </thead>
        @foreach (var student in Model)
        {
            var fullName = $"{student.FirstName} {student.LastName}";
            <tr>
                <td>@Html.ActionLink(@fullName, "Details", "Students", new { id = student.Id}, null)</td>
                <td>@Html.ActionLink("Edit", "Edit", "Students", new { id = student.Id }, new { @class = "btn btn-primary btn-sm" })</td>
                <td>@Html.ActionLink("Delete", "Delete", "Students", new { id = student.Id }, new { @class = "btn btn-primary btn-sm", 
                   onclick=$"return confirm('Are you sure you want to delete student: {@fullName}?')"})</td>
            </tr>

        }
    </table>
}
